# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

################################
!Dockerfile.test
certs-*/
rns
rns.exe
rnsrvr
rnsrvr.exe
rusnumserver
rusnumserver.exe
rnc
rnc.exe
rnclnt
rnclnt.exe
rusnumclient
rusnumclient.exe
